.footer {
	background-color: var(--color-beige);
}

.footer .container {
	margin-bottom: 0;
}

.footer__links {
	display: flex;
	padding: 31px 0;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 7px 0;
}

.social {
	color: var(--color-grey);
}

.footer__links-social {
	display: flex;
	align-items: center;
	gap: 25px;
}

.footer__links-social > div {
	display: flex;
	align-items: center;
}

.footer__links-social-block img {
	margin-right: 10px;
}

.footer__links-social-block-vk {
	margin-bottom: 3px;
}

.footer__links-social a {
	position: relative;
	color: var(--color-dark);
	cursor: pointer;
}

.footer__links-social-block {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
}

.footer__links-social-block-text {
	position: relative;
	display: inline-flex;
	padding-bottom: 2px;
	align-items: center;  
	text-decoration: none; 
}

.footer__links-social-block-wrapper {
    display: flex;
	align-items: center;
	text-decoration: none;
}

.footer__links-social-block-text::after {
    content: "";
    position: absolute;
	bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 0%;
    background-color: var(--color-dark);
    transition: width 0.3s ease;
}

.footer__links-social-block:hover .footer__links-social-block-text::after {
    width: 100%;
}

@media screen and (max-width: 1024px) {
	.footer__links-social {
		justify-content: center;
	}

	.footer__links {
		padding: 26px 0;
	}

	.footer__links-social {
		gap: 37px;
	}
}

@media screen and (max-width: 768px) {
	.footer__links {
        justify-content: center;
    }
}

@media screen and (max-width: 580px) {
	.footer__links-social {
		gap: 15px;
	}
}

@media screen and (max-width: 360px) {
	.footer {
		margin-top: 75px;
		padding: 0;
	}

	.footer__links {
		padding: 17px 21px;
		justify-content: center;
	}
	
	.footer img {
		width: 22px;
		height: 22px;
		margin-right: 5px;
	}
}