.collect__subtitle {
	display: block;
	margin: 30px auto 0;
	max-width: 418px;
	text-align: center;
	color: var(--color-grey);
}

.collect__form {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
	align-items: flex-start;
	max-width: 1170px;
	padding: 70px;
	background: var(--color-white);
}

.collect__row {
	display: flex;
	margin-bottom: 30px;
	align-items: flex-start;
	gap: 30px;
	align-self: stretch;
}

.collect__item {
	position: relative;
	width: 100%;
}

.collect__input {
	position: relative;
	display: flex;
	width: 100%;
	padding: 20px;
	margin-top: 8px;
	align-items: center;
	gap: 10px;
	align-self: stretch;
	background: #F9F7F4;
	border-radius: 10px;
	border: 1px solid var(--color-beige);
	outline: none;
}

input::placeholder {
	color: var(--color-grey);
	opacity: 1;
}

.collect__input:focus {
	background: var(--color-beige);
	border: 1px solid var(--color-grey);
}

.collect__input:hover {
	border: 1px solid var(--color-beige);
	background: var(--color-beige);
	cursor: pointer;
}

.collect__dropdown_wrapper {
	position: relative;
}

.collect__dropdown {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 8px;
	width: 100%;
	padding: 20px;
	border: 1px solid var(--color-beige);
	border-radius: 10px;
	background: #F9F7F4;
	color: var(--color-grey);
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.collect__dropdown_icon {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(-50%, -50%);
}

.collect__dropdown_selected {
	color:var(--color-dark);
}

.collect__dropdown option {
	color: var(--color-dark);
}

.collect__dropdown:hover {
	border-radius: 10px;
	border: 1px solid var(--color-beige);
	background: var(--color-beige);
}

.collect__input-comment {
	display: flex;
	height: 152px;
	margin: 8px 0 33px;
	padding: 20px;
	align-items: center;
	gap: 10px;
	align-self: stretch;
	background: #F9F7F4;
	border: 1px solid #F9F7F4;
  	border-radius: 10px;
	color: var(--color-dark);
	outline: none;
	resize: none;
}

.collect__input-comment:hover {
	border: 1px solid var(--color-beige);
	background: var(--color-beige);
	cursor: pointer;
}

.collect__input-comment:focus {
	border: 1px solid var(--color-grey);
	background: var(--color-beige);
}

.collect__radio-buttons {
	display: flex;
	margin-top: 8px;
	gap: 30px;
}
.collect__radio-buttons .custom-radio {
	display: none;
}
.collect__radio-buttons .custom-radio + label {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
}
.collect__radio-buttons .custom-radio + label::before {
	content: "";
	display: inline-block;
	width: 26px;
	height: 26px;
	border: 2px solid #1B1F2B;
	border-radius: 50%;
	margin-right: 11px;
	background-repeat: no-repeat;
	background-position: center center;
	box-sizing: border-box;
}
.collect__radio-buttons .custom-radio:checked + label::before {
	border-color: #1B1F2B;
	background-color: none;
	background-image: url("../../../public/icons/radiobutton.svg");
}

.collect__checkbox {
	margin-top: 33px;
	color: var(--color-grey);
}

.collect__checkbox .custom-checkbox {
	display: none;
}

.collect__checkbox p.collect__checkbox__text {
	margin-bottom: 0;
	color: var(--color-grey);
}

.collect__checkbox a {
	margin-left: 4px;
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 142%;
	letter-spacing: -0.01em;
	color: var(--color-dark);
	cursor: pointer;
}

.collect__checkbox a:hover {
	border-bottom: 1px solid var(--color-dark);
}

.collect__checkbox a:active {
	color: var(--color-green);
	border-bottom: 1px solid var(--color-green);
}

.collect__checkbox .custom-checkbox + label {
	display: inline-flex;
	align-items: center;
	user-select: none;
}

.collect__checkbox .custom-checkbox + label::before {
	content: "";
	display: inline-block;
	width: 26px;
	height: 26px;
	margin-right: 19px;
	box-sizing: border-box;
	border: 2px solid var(--color-dark);
	border-radius: 20%;
	background-repeat: no-repeat;
	background-position: center center;
}

.collect__checkbox .custom-checkbox:checked + label::before {
	background-color: none;
	background-image: url("../../../public/icons/check.svg");
}

.collect__buttons {
	display: flex;
	gap: 30px;
}

.collect__buttons-btn {
	display: flex;
	margin-top: 27px;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}

.find {
	display: flex;
	padding: 15px 71px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background-color: var(--color-green);
	color: var(--color-white);
	border: none;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

.find:hover {
	background: #3B7E7B;
}

.find:active {
	background: #627F7E;
}

.reset {
	display: flex;
	padding: 15px 71px;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	background: #E0F0E5;
	border: none;
	color: var(--color-green);
	transition: background-color 0.3s ease;
	cursor: pointer;
}

.reset:hover {
	background: #F1F3F2;
}

.reset:active {
	background: #D9DFDB;
}

@media screen and (max-width: 1024px) {
	.collect__form {
		border-radius: 50px;
		padding: 60px;
	}

	.collect__row {
		gap: 20px;
	}
}

@media screen and (max-width: 674px) {
	.collect__buttons {
		margin: 0;
		gap: 15px;
	}

	.collect__buttons-btn {
		width: 220px;
	}
}

@media screen and (max-width: 580px) {
	.collect__subtitle {
		width: 100%;
	}

	.collect__form {
		width: 100%;
		margin-top: 40px;
		padding: 20px 15px 40px;
		border-radius: 30px;
	}
	
	.collect__row {
		flex-direction: column;
		margin-bottom: 30px;
		gap: 30px;
	}

	.collect__checkbox span {
		font-size: 16px;
	}

	.collect__form .collect__radio-buttons label {
		font-size: 16px;
		line-height: 142%;
	}

	.collect__form .collect__radio-buttons .custom-radio + label::before {
		content: "";
		display: inline-block;
		width: 20px;
		height: 20px;
	}

	.collect__form .collect__radio-buttons .custom-radio:checked + label::before {
		background: url(../icons/radiobutton.svg) center/20px 20px no-repeat;
	}

	.collect__checkbox .custom-checkbox + label {
		align-items: flex-start;
	}

	.collect__checkbox .custom-checkbox + label::before {
		content: "";
		display: flex;
		min-width: 20px;
		height: 20px;
		margin-right: 10px;
		border: 2px solid var(--color-dark);
		border-radius: 20%;
		background-repeat: no-repeat;
		background-position: center center;
	}

	.collect__buttons {
		gap: 10px;
	}

	.collect__buttons-btn {
		width: 150px;
		margin-top: 53px;
	}

	.collect__input {
		height: 43px;
	}

	.collect__input-comment {
		height: 132px;
		margin-top: 8px;
		margin-bottom: 30px;
	}

	.collect__input::-webkit-input-placeholder {
		font-size: 16px;
		line-height: 142%;
	}

	.find {
		padding: 12px 30px;
	}

	.reset {
		padding: 12px 30px;
	}
}

@media screen and (max-width: 360px) {
	.collect__subtitle {
		width: 316px;
		margin-top: 20px;
	}

	.collect__input {
		padding: 10px;
	}

	.collect__dropdown {
		padding: 10px;
	}
	
	.collect__buttons-btn {
		width: 135px;
		margin-top: 23px;
	}
}