@import url('./typography.css');
@import url('./text.css');
@import url('./reset.css');
@import url('./sections/header/header.css');
@import url('./sections/promo/promo.css');
@import url('./sections/tour/tour.css');
@import url('./sections/create/create.css');
@import url('./sections/review/review.css');
@import url('./sections/photo/photo.css');
@import url('./sections/history/history.css');
@import url('./sections/footer-mini/footer-mini.css');
@import url('./sections/footer/footer.css');


:root {
	--color-white: #FFFFFF;
	--color-dark: #1B1F2B;
	--color-accent: #EFA501;
	--color-green: #286562;
	--color-beige: #F4F0E9;
	--color-grey: #A6A6A6;
}

body {
	background-color: var(--color-white);
}

h1 {
	font-size: 96px;
	font-style: normal;
	font-weight: 700;
	line-height: 109%;
	letter-spacing: 1.92px;
	text-align: center;
	color: var(--color-white);
}

h2 {
	font-size: 59px;
	font-style: normal;
	font-weight: 700;
	line-height: 124%; 
	text-align: center;
	color: var(--color-dark);
}

h3 {
	font-size: 35px;
	font-style: normal;
	font-weight: 500;
	line-height: 122%; 
	color: var(--color-dark);
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 135px auto;
	padding: 0 12px;
	scroll-margin-top: 80px;
}

@media screen and (max-width: 1024px) {
	body {
		background-color: #F9F7F4;
	}

	.container {
		padding: 0 48px;
		margin: 136px auto;
	}
}

@media screen and (max-width: 878px) {
	.container {
		padding: 0 21px;
	}
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 80px;
	}
}

@media screen and (max-width: 712px) {
	h1 {
		font-size: 60px;
	}

	.container {
		margin: 77px auto;
	}
}

@media screen and (max-width: 674px) {
	h2 {
		font-size: 50px;
	}

	h3 {
		font-size: 30px;
	}
}

@media screen and (max-width: 580px) {
	h1 {
        font-size: 45px;
    }

	h2 {
		font-size: 35px;
	}

	h3 {
		font-size: 30px;
	}
}

@media screen and (max-width: 360px) {
	h1 {
		font-size: 34px;
		line-height: 112%; 
		letter-spacing: 0.68px;
	}

	h2 {
		font-size: 33px;
		line-height: 112%;
	}
	
	h3 {
		font-size: 23px;
		line-height: 120%;
		letter-spacing: 0.92px;
	}

	.container {
		padding: 0 15px;
	}
}
