.choice__title {
	margin-bottom: 35px;
}

.choice__items {
	display: flex;
	margin-bottom: 106px;
	justify-content: center;
	gap: 10px 30px;
	flex-wrap: wrap;
	list-style: none;
}

.choice__items a {
	position: relative;
	transition: color 0.3s ease;
}

.choice__items a:not(.active):after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	display: block;
	height: 2px;
	margin-top: 4px;
	width: 0%;
	background-color: var(--color-dark);
	transition: width 0.3s ease;
}

.choice__items a:hover::after {
	content: "";
	width: 100%;
}

.choice__items .active {
	color: var(--color-accent);
}

.choice__items .active:after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	display: block;
	height: 2px;
	margin-top: 4px;
	width: 100%;
	background-color: var(--color-accent);
	transition: width 0.3s ease;
} 

.choice__wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

.choice__wrapper h3 {
	margin-bottom: 16px;
	font-weight: 400;
	color: var(--color-white);
}

.choice__card {
	position: relative;
	display: flex;
	height: 531px;
	padding: 50px;
	flex-direction: column;
	align-items: flex-start;
	background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
	border-radius: 50px;
	overflow: hidden;
	cursor: pointer;
}

.choice__card:hover .choice__img {
	scale: 1.2;
}

.choice__card:hover .choice__block {
	padding: 0 20px;
	margin-left: -20px;
	background-color: var(--color-green);
	
}

.choice__card:hover .choice__block:active {
	background-color: var(--color-accent);
}

.choice__img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: scale 0.3s ease;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.choice__text {
	color: var(--color-white);
}

.choice__price {
	font-weight: 300;
	color: var(--color-white);
}

.choice__more {
	color: var(--color-white);
	font-weight: 500;
}

.choice__block {
	display: flex;
	margin-top: auto;
	width: fit-content;
	margin-bottom: -4px;
	height: 42px; 
	padding: 0 20px;
	margin-left: -20px;
	align-items: center;
	border-radius: 50px;
	gap: 15px;
	transition: background-color 0.3s ease;
}

@media screen and (max-width: 1024px) {
	.choice__wrapper {
		grid-template-columns: repeat(2, 1fr);
		gap: 18px;

	}
}

@media screen and (max-width: 712px) {
	.choice__title {
		margin-bottom: 30px;
	}
}

@media screen and (max-width: 674px) {
	.choice__card {
		padding: 30px;
	}
}

@media screen and (max-width: 580px) {
	.choice__wrapper {
		gap: 18px;
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (max-width: 360px) {
	.choice__items {
		gap: 10px;
		margin-bottom: 50px;
	}

	.choice__card {
		padding: 25px 25px;
		height: 318px;
		border-radius: 20px;
	}

	.choice__card img {
		width: 100%;
		object-position: center;
		object-fit: cover;
	}

	.choice__card:hover .choice__img {
		scale: 1;
	}

	.choice__card:hover .choice__block {
		padding: 0;
		margin-left: 0;
		background: none;
	}
	
	.choice__card:hover .choice__block:active {
		background: none;
	}
}